@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --font-main: "Pixelify Sans", sans-serif;
    --font-terc: "Jersey 10", sans-serif;
    --font-sec: system-ui, Avenir, Helvetica, Arial, sans-serif;

    --c1: #1e1e1e;
    --c2: #3c3d3f;
    --c3: #292929;
    --c4: #a6a6a6;
    --c5: #111111;
    --text: #FAFAFF;

    --cRight: #3aa394;
    --cPlace: #d3ad69;
    --cWrong: #111111;
    --cWrongFG: #504a4b;
}  